.widget {
  border-radius: 15px;
  margin-top: 2.5rem;
  margin-left: 0px;
  width: 400px;
  padding: 0;
  // max-height: 25rem;
  // overflow-y: scroll;
}

.filter {
  font-weight: 300;  
}

.down_carot {
  margin-left: 0.1rem;
  font-size: 0.7rem;
}

.title {
  font-weight: 500;
  font-size: 19px;
  line-height: 16px;
}

.header {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content:space-between;
  margin: 1rem 0 1rem 0;
}

.button {
  background: #0023F7;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1.25rem;
  color: white;
  margin-left: 1.2rem;
}