.wrapper {
  background-color: black;
  height: 176px;
  border-radius: 20px;
  padding-top: 35px;
  padding-left: 43px;
  padding-right: 43px;
}

.header_wrapper {
  margin-bottom: 20px;
  line-height: 3rem;
}

.header {
  color: white;
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 20px;
  display: inline;
}

.subheader {
  color: #C4C4C4;
  font-weight: 500;
  font-size: 16px;
  float: right;
}