.wrapper {
  background-color: #fff;
  width: 12.6rem;
  height: 100%;
  float: left;
  position: fixed; /* Stay in place */
}

.middleWidget {
  margin-top: 100px;
}

.bottomWidget {
  margin-top: 200px;
}

#circle {
  width: 47px;
  height: 47px;
  -webkit-border-radius: 23.5px;
  -moz-border-radius: 23.5px;
  border-radius: 23.5px;
  background: #C4C4C4;
  margin-right: 10px;
}

.menuItem {
  width: 100%;
  padding-left: 2rem;
  margin-bottom: 40px;
}

.menuIconWrapper {
  margin-right: 0.5rem;
}
.menuIcon {
  color: black;
}

.link{
  font-size: 19px;
  color: black;
}

a.link:hover {
  color: #0023F7;
}

.activeMenuItem {
  border-right: 2px solid #0023F7;
}
.activeMenuItem .link,
.activeMenuItem .menuIcon {
  color: #0023F7 !important;
}