.topbar {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.searchBox {
  height: 47px;
  width: 548px;
  border-radius: 10px;
  background-color: #F2F4F9;
  margin: 0.5rem auto 0.5rem 2rem;
}

.image_wrapper {
  margin: auto 2rem;
  display: flex;
  align-items: flex-end;
}

.picture {
  border-radius: 30px;
}

.bell_icon {
  margin-right: 1.5rem;
}