.topbar {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 5rem;
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.logo_wrapper {
  display: flex;
  flex-direction: row;
}

.name {
  font-size: 0.9rem;
  font-weight: 500;
  color: #0023F7;
  margin-left: 0.5rem;
}

.logo {
  margin: 1rem 0rem 0.5rem 2rem;
  display: flex;
  align-items: center;
}

.searchBox {
  margin-top: 1em;
  height: 42px;
  width: 548px;
  border-radius: 10px;
  background-color: #F2F4F9;
  margin: 1.3rem auto 1.3rem 2rem;
}

.image_wrapper {
  margin: auto 2rem;
  display: flex;
  align-items: flex-end;
}

.picture {
  border-radius: 30px;
}

.bell_icon {
  margin-right: 1.5rem;
}