.widget {
  border-radius: 15px;
  background-color: white;
  margin-left: 0px;
  width: 250px;
  height: 400px;
  padding: 25px;
}

.smallSpace {
  margin-top: 15px;
}

.circleProgress {
  height: 60%;
  width: 60%;
}