.page {
  margin-top: 20px;
  margin-left: 35px;
}

.name {
  font-size: 30px;
  font-weight: bold;
}

.linkWidget {
  margin-top: 100px;
}

.settingWidget {
  margin-top: 200px;
}

.pageLink{
  font-size: 19px;
  margin-bottom: 40px;
}

#circle {
  width: 47px;
  height: 47px;
  -webkit-border-radius: 23.5px;
  -moz-border-radius: 23.5px;
  border-radius: 23.5px;
  background: #C4C4C4;
  margin-right: 10px;
}

.widgets {
  margin-top: 5px;
  margin-right: 0px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #F2F4F9;
  height: 100%;
}

.widget {
  border-radius: 15px;
}

.blackBackground {
  background-color: black;
  color: white;
}

.whiteBackground {
  background-color: white;
}

.welcomeWidget {
  height: 200px;
  width: 600px;
  padding-top: 30px;
  padding-left: 30px;
}

.bigText {
  font-size: 25px;
}

.bold {
  font-weight: bold;
}
.smallText {
  font-size: 18px;
}

.midSpace {
  margin-top: 30px;
}

.smallSpace {
  margin-top: 15px;
}

.button {
  width: 135px;
  height: 40px;
}

.alignLeft {
  margin-left: 0px;
}


img.picture {
  margin-top: -10px;
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 30px
}