.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column{
  width: 97%;
  padding-right: 3%;
}

.widgets {
  margin-top: 5px;
  margin-right: 0px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #F2F4F9;
  height: 100%;
}

.bigText {
  font-size: 25px;
}

.smallText {
  font-size: 18px;
}

.midSpace {
  margin-top: 30px;
}

.smallSpace {
  margin-top: 15px;
}

.button {
  width: 135px;
  height: 40px;
}