.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
	height: 780px;
}

.leftView {
  background-color: black;
  color: white;
  height: 100%;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 24px;
}

.rightView {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}


.leftViewInterior {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

.leftTitle {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
}

.rightTitle {
  font-size: 35px;
  margin-bottom: 80px;
  font-weight: bold;
}

.formInput {
  margin-top: 10px;
  margin-bottom: 20px;
}

.inputBox {
  height: 70px;
  background-color: #F2F4F9;
  border-radius: 10px;
}

#circle {
  width: 47px;
  height: 47px;
  -webkit-border-radius: 23.5px;
  -moz-border-radius: 23.5px;
  border-radius: 23.5px;
  background: #C4C4C4;
  margin-right: 10px;
}

.signIn {
  font-size: 12px;
  margin-top: 30px;
  /* margin-left: 507px; */
  margin-right: 12px;
}

.button {
  border-radius: 10px;
  width: 176px;
  height: 57px;
}

.bottom {
  margin-top: 40px;
  margin-right: 0px;
  float: right;
}

.welcomeRoot {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  min-width: 770px;
}

.welcomeWrapper {
  width: 75vw;
  height: 50vh;
  margin: auto;
  display: flex;
  /* Align items vertically */
  align-items: center;

  /* Align items horizontally */
  justify-content: center;
  padding-top: 40vh;
}

.welcomeImage {
  width: 75vw;
}

.welcomeRightText {
  width: 75vw;
}

.welcomeHeader {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin: 1rem 0;
}

.logo_wrapper {
  position: absolute;
  left: 4rem;
  top: 4rem;
  display: flex;
  flex-direction: row;
}

.logo {
  margin: 0.5rem 0;
  margin-top: -15px;
  margin-left: -15px;
  display: flex;
  align-items: center;
}

.name {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  margin-left: 0.5rem;
}

.buttonIntern,
.buttonFounder {
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 7px;
  margin-top: 1.5rem;
}

.buttonIntern a,
.buttonFounder a {
  color: #fff;
}

.buttonIntern {
  background-color: #0023F7;
  margin-right: 1rem;
}

.buttonFounder {
  background-color: #5A626A;
}